@import "../valo/valo.scss";

@mixin jpetstoretheme {

  @include valo;

  .left-menu {
    width: 250px;
    position: relative;

    .valo-menu-item,
    .valo-menu-title {
      font-size: 16px;
      text-align: left;
    }
  }

  .top-menu {
    position: relative;

    .valo-menu-item {
      display: inline-block;
      width: 65px;
      font-size: 16px;
      text-align: center;
      padding: 0px 0px 0px 0px;
    }
    .v-button {
      height: 44px;
    }
    .v-textfield {
      width: 150px;
      height: 25px;
      padding: 0px 0px 0px 0px;
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}
