@import "jpetstoretheme";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in jpetstoretheme.scss

.jpetstoretheme {
  @include jpetstoretheme;
}
